
.App{
	text-align: center;
}

.App-header, .App-info, .form-login, .App-feeback, .noteCard-back{
	background: lightgrey;
}

.App-filter, .noteCard-front, .App-quiz, .App-footer  {
	background: darkgray;
}

.App-nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
