/* {==================================BUILD NOTES===========================}*/
/* BORDER COLORS: set to easily mark what was what. Change during cleanup */
/*==================================BUILD NOTES=========================== */

.noteCard{
	width: 100%;
	text-align: center;
	background: #989898;
}

.noteCard-front{
	background: #858585;
	/* margin: 1em; */
}

.noteCard-back{
	background: #757575;
	/* margin: 1em; */
}